﻿ /* Map In Styles */ 
  #MapIn {
	width: 70%;
	height: 400px;
	float: left;
	margin-bottom: 20px;
  }
    #MapIn {
	width: 70%;
	height: 400px;
	float: left;
	margin-bottom: 20px;
  }

  #infoPanel {
    float: left;
    margin-left: 10px;
    width: 26%;
	height: 400px;
	margin-bottom: 20px;
  }  
  #infoPanel div {
    margin-bottom: 5px;
  }
  .mapcont{
	/** width: 250px; **/
  }
  .maptitle{
	color: #c0504d;
  }
  
  
  /* Map Out Styles */ 
  #MapOut{
	float: left;
	width: 80%; 
	height: 400px;
	margin-bottom: 20px;
	}
        
  #side_bar{
	float: left;
	width: 16%;
	height: 400px;
	overflow: auto;
	margin-left: 10px;
	margin-bottom: 20px;
	}     
        
        
        
/* Common Style */      
   #mapouter {
      width: 100%;
      height: 400px;
      margin-bottom: 20px;
  }
  
/* View prayers style */  
 .container{
	border-width: 1px;
	border-color: #c0c0c0;
	padding: 10px;
	border-bottom-style: solid;
	border-top-style: solid;
	margin-top: -1px;
}

  .title{
	padding-top: 3px;
	padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
}

  .postDate{
	float: right;
}

  .prayer{
	padding-bottom: 0px;
	padding-left: 35px;
        padding-right: 25px;
}

.location{
	color: #c0504d;
	padding-top: 8px;
	padding-bottom: 3px;
	padding-left: 17px;
}

.edit {
	float: left;
        padding-left: 30px;
        height: 10px;
}

.delete {
	float: left;
	padding-left: 5px;
        height: 10px;
}
.buttons{
        height: 30px;      
}